@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700;900&display=swap");

:root {
  --Main-font-english: "Tajawal", sans-serif;
  --Bg-color: #030303;
  --Garn-color: #d9ff00;
  --Garn2-color: #ffa54f;
  --Text-color: #f6f1f1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Main-font-english);
  background-color: var(--Bg-color);
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--Text-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

section {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

p {
  max-width: 700px;
}

h1,
h2 {
  max-width: 450px;
  font-weight: 900;
}

/* Start Scroll bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--Bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Garn-color);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #000000;
}

@media (max-width: 800px) {
  section {
    padding: 0;
  }
  .titlepage h1 {
    font-size: 2.5rem !important;
  }
}

/* header */

header {
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  box-shadow: 0 0 16px 2px;
  z-index: 100;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
header .logo img {
  width: 100px;
} */

header nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Text-color);
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

header nav ul li a {
  position: relative;
  padding: 10px 10px;
  font-size: 1.4rem;
  color: var(--Text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .access ul li.loginBtn a {
  border-radius: 10px;
  padding: 5px 30px;
  background-color: var(--Garn-color);
  color: var(--Bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 15px;
}
header .access ul li a .userImg {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .access ul li a h4 {
  height: 25px;
  width: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Bg-color);
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--Garn-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .brgIcon {
  width: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 10px;
  cursor: pointer;
}

header .brgIcon span {
  background-color: var(--Text-color);
  height: 3px;
  margin: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header .brgIcon span:nth-child(1) {
  width: 25px;
}
header .brgIcon span:nth-child(2) {
  width: 100%;
}
header .brgIcon span:nth-child(3) {
  width: 25px;
}

@media (max-width: 800px) {
  header {
    top: 0 !important;
    bottom: auto;
    flex-direction: row-reverse;
  }
  header .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--Bg-color);
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  header .menu.active {
    height: 215px;
  }

  header .menu .menuList {
    flex-direction: column;
    width: 100%;
  }

  header .menu .menuList li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .menu .menuList li a {
    width: 100%;
    padding: 10px 0;
  }

  header .brgIcon {
    display: flex;
  }

  header .brgIcon:hover span {
    width: 100% !important;
  }

  #cursor {
    display: none !important;
  }

  footer {
    padding: 10px !important;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Home page Styling */
#home {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 0;
  height: auto;
  min-height: auto;
}

#home .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .text h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--Text-color);
  margin: 20px 0 0;
}

#home .text h1 span {
  color: var(--Garn-color);
}

#home .text p {
  max-width: 700px;
  font-size: 1.5rem;
  margin: 20px 0;
  color: var(--Text-color);
  text-align: center;
}

#home .text .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#home .text .links a {
  margin: 20px 20px 0 0;
  border-radius: 20px;
  padding: 5px 30px;
  background-color: var(--Garn-color);
  color: var(--Bg-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 800px) {
  
  #home .text img {
    width: 200px;
  }

  #home .text h1 {
    font-size: 2rem;
  }
  #home .text p {
    font-size: 1.2rem;
    margin: 0;
  }
}

/* Items List Style */
#itemsMenuHP {
  flex-direction: column;
  min-height: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#itemsMenuHP .items {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  white-space: nowrap;
}

#itemsMenuHP .items::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

#itemsMenuHP .items::-webkit-scrollbar-track {
  background-color: var(--Bg-color);
  width: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  cursor: pointer;
}

#itemsMenuHP .items::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #d9ff00;
  cursor: pointer;
}

#itemsMenuHP .items .item {
  height: 350px;
  width: 500px;
  min-width: 500px;
  margin: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#itemsMenuHP .items .item.active {
  display: flex;
}

#itemsMenuHP .items .item:hover {
  background-color: rgb(221, 226, 230);
}

#itemsMenuHP .items .item .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 115px);
}

#itemsMenuHP .items .item .image img {
  width: 100%;
  height: 100%;
}

#itemsMenuHP .items .item .text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

#itemsMenuHP .items .item .text h3 {
  font-size: 1.5rem;
  color: var(--Bg-color);
}
#itemsMenuHP .items .item .text h3:nth-child(2) {
  width: 100%;
  text-align: right;
}

#itemsMenuHP .items .item .text p {
  font-size: 1.2rem;
  color: var(--Bg-color);
}

#itemsMenuHP .items .item .text h5 {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  color: green;
}

#itemsMenuHP .filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 50px;
}

#itemsMenuHP .filters ul {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
}

#itemsMenuHP .filters ul::-webkit-scrollbar {
  display: none;
}

#itemsMenuHP .filters ul li {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 5px 20px;
  min-width: 200px;
  border: 2px solid var(--Text-color);
  cursor: pointer;
  color: var(--Garn-color);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#itemsMenuHP .filters ul li:hover {
  background-color: var(--Garn-color);
  color: var(--Bg-color);
  border: 2px solid var(--Garn-color);
}

#itemsMenuHP .filters ul li.selected {
  background-color: var(--Garn-color);
  color: var(--Bg-color);
  border: 2px solid var(--Garn-color);
}

@media (max-width: 430px ) {
  #itemsMenuHP .filters ul li {
    min-width: 125px !important;
    font-size: 0.8rem !important;

  }

  #itemsMenuHP .items .item {
    height: 250px !important;
    min-width: 300px !important;
    width: 300px;
  }

  #itemsMenuHP .items .item .image {
    height: calc(100% - 100px);
  }

  #itemsMenuHP .items .item .text h3 {
    font-size: 1.3rem;
  }

  #itemsMenuHP .items .item .text h5 {
    font-size: 1.3rem;
  }
}

@media (max-width: 800px) {
  #itemsMenuHP .filters ul {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  #itemsMenuHP {
    padding: 10px;
  }
  #itemsMenuHP .filters {
    margin: 20px;
  }
  #itemsMenuHP .filters ul li {
    min-width: 150px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #itemsMenuHP .items .item {
    height: 300px;
    min-width: 400px;
    width: 300px;
  }

  #itemsMenuHP .items .item .image {
    height: calc(100% - 100px);
  }

  #itemsMenuHP .items .item .text h3 {
    font-size: 1.3rem;
  }

  #itemsMenuHP .items .item .text h5 {
    font-size: 1.3rem;
  }

}

/* Expect Section */
#expect {
  justify-content: space-around;
}

#expect .text h2 {
  font-size: 3.5rem;
  color: var(--Text-color);
}

#expect .text h2 span {
  color: var(--Garn-color);
}

#expect .text p {
  font-size: 1.5rem;
  max-width: 700px;
  color: var(--Text-color);
}

#expect .text .rate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#expect .text .rate .ratetext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#expect .text .rate .ratetext h4 {
  font-size: 1.5rem;
  color: var(--Text-color);
}
#expect .text .rate .ratetext p {
  font-size: 1.4rem;
  color: var(--Text-color);
}
#expect .text .rate .ratetext p span {
  font-size: 1.1rem;
  color: var(--Text-color);
}

@media (max-width: 800px) {
  #expect {
    min-height: auto;
    margin: 50px 0;
  }
  #expect .image img {
    width: 300px;
    height: 300px;
  }
  #expect .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 0 10px;
  }
  #expect .text h2 {
    font-size: 2rem;
    text-align: center;
  }
  #expect .text p {
    text-align: center;
    font-size: 1.2rem;
  }
}
/* Recommendation Section */
#rec {
  justify-content: space-around;
}

#rec .text h2 {
  font-size: 3.5rem;
  max-width: 500px;
  color: var(--Text-color);
}

#rec .text h2 span {
  color: var(--Garn-color);
}

#rec .text > p {
  font-size: 1.8rem;
  color: var(--Text-color);
  margin: 20px 0;
}

#rec .text .orders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

#rec .text .orders a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: white;
}

#rec .text .orders a:nth-child(2) {
  background-color: var(--Garn-color);
  color: var(--Bg-color);
}

#rec .text .orders a h3 {
  color: var(--Bg-color);
  font-size: 2rem;
}
#rec .text .orders a p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--Bg-color);
}
#rec .text .orders a h5 {
  color: #0d7000;
  font-size: 2.5rem;
}

@media (max-width: 800px) {
  #rec {
    margin: 50px 0;
    min-height: auto;
  }
  #rec .image img {
    width: 300px;
    height: 300px;
    margin: 20px 0;
  }
  #rec .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  #rec .text h2 {
    font-size: 2rem;
    text-align: center;
  }
  #rec .text p {
    font-size: 1.2rem;
    text-align: center;
  }
  #rec .text .orders a {
    padding: 15px;
  }
  #rec .text .orders a h3 {
    font-size: 2rem;
  }
  #rec .text .orders a p {
    font-size: 1.2rem;
  }
  #rec .text .orders a h5 {
    font-size: 2rem;
  }
}

/* Services */
#service {
  justify-content: space-around;
}

#service .text h2 {
  font-size: 3.5rem;
  color: var(--Text-color);
}
#service .text h2 span {
  font-weight: 900;
  color: var(--Garn-color);
}

#service .text p {
  color: var(--Text-color);
  font-size: 2rem;
  margin: 10px 0;
}

#service .text .features {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
}

#service .text .features .feature {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

#service .text .features .feature img {
  margin: 0 20px 0 0;
  background-color: var(--Text-color);
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#service .text .features .feature h5 {
  font-size: 1.5rem;
  color: var(--Text-color);
}

/* Information */
#info {
  padding: 0;
  min-height: auto;
  height: 50vh;
  background-color: var(--Text-color);
  background-repeat: no-repeat;
  background-position: center;
}

#info .content {
  padding: 100px 20px;
  width: 100%;
  height: 100%;
  background-color: #ffffff46;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

#info .content > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#info .content > div h6 {
  color: var(--Bg-color);
  font-size: 2rem;
}
#info .content > div p,
#info .content > div a {
  color: var(--Bg-color);
  font-size: 1.5rem;
  margin: 10px 0;
  max-width: 350px;
  font-weight: 700;
}

/* Footer */
footer {
  padding: 20px 10px 90px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Text-color);
}

footer .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .links ul li a {
  margin: 0 10px;
}

footer .copyright a {
  color: var(--Bg-color) !important;
  font-size: 1.2rem;
}

footer .copyright a:hover {
  color: #008cff !important;
  font-size: 1.2rem;
}

/* Title Style */
.titlepage {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titlepage h1 {
  margin-top: 70px;
  color: var(--Text-color);
  font-size: 3rem;
  max-width: none;
  text-align: center;
}

#cursor {
  width: 35px;
  height: 35px;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100;
  transition: 0.1s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
